.banner {
    background-color: rgb(124, 192, 255);
    height: 100px;
    width: 100%;
    background-image: url('../img/pattern.png');
    background-position: top;
    background-size: 400px auto ;
    

}

.logo {

    width: 200px;
    
    margin-top: 40px;
    
}


