
.banner {
    background-color: rgb(124, 192, 255);
    height: 100px;
    width: 100%;
    background-image: url('../img/pattern.png');
    background-position: top;
    background-size: 400px auto ;
    

}

.logo {

    width: 200px;
    
    margin-top: 40px;
    
}

.titolo {
    font-weight: bolder;
}

#booleaner{
    color: aqua;
}

.autore{
    color: gray;
}

.data {
    font-size: 10px;
}

.Cit-photos {
    font-size: 10px;
}

.evidenziato {
    background-color: yellow;
}



.thead-color {
    background-color: blue;
}

th { color: white;}

.tr-color{

    background-color: aqua;
}