/* intestazione della pagina */
.banner {
    background-color: rgb(124, 192, 255);
    height: 100px;
    width: 100%;
    background-image: url('../img/pattern.png');
    background-position: top;
    background-size: 400px auto ;
    

}

.logo {

    width: 200px;
    
    margin-top: 40px;
    
}

/* /intestazione della pagina */

/* titolo */
.titolo {
    font-weight: bolder;
}

#booleaner{
    color: aqua;
}

.autore{
    color: gray;
}

.data {
    font-size: 10px;
}
/* titolo */

/* Fonti delle immagini */
.Cit-photos {
    font-size: 10px;
}
/* /Fonti delle immagini */

/* Corpo  della pagina */
.evidenziato {
    background-color: yellow;
}

/* /Corpo  della pagina */

/* tabella */
.thead-color {
    background-color: blue;
}

th { color: white;}

.tr-color{

    background-color: aqua;
}
/* /tabella */

/* articoli correlati */
.Correlati{
    color: grey;
}

.Titolo-img1 {
    width: 250px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-image: url('../img/monitor.jpg');
    padding-top: 10px;
    padding-left: 10px;
    color: white;
}
.Titolo-img2 {
    width: 250px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-image: url('../img/graph.jpg');
    padding-top: 10px;
    padding-left: 10px;
    color: white;
}

/* /articoli correlati */